.main {
  top: 0px;
  position: fixed;
  height: 1px;
  width: 100%;
  z-index: 300;
}
.bar {
  height: 2px;
  position: relative;
  left: -1%;
  animation: scrol 4s ease-out;
}

@keyframes scrol {
  0% {
    left: -100%;
  }
  30% {
    left: -20%;
  }
  100% {
    left: -2%;
  }
}
