@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Kalam', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f7fbff;
}

.fontHand {
  font-family: "Kalam", cursive;
}
.magma {
  font-family: magmawave;
}

@font-face {
  font-family: magmawave;
  src: url(/font/MagmaWave.otf);
}

.img-con-category {
  width: 100%;
  position: relative;
}
.img-con-category > div {
  position: unset !important;
}

.img-con-category .img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.bg-img1 {
  background-image: url(/img/pic4.jpg);
  background-size: cover;
}

.flex-5 {
  flex: 5;
}
.flex-4 {
  flex: 4;
}
.flex-2 {
  flex: 2;
}

.bg-img2 {
  background-image: url(/img/pic3.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.bg-img3 {
  background-image: url(/img/pi4.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.bg-bd1 {
  background-image: url(/img/bd.jpg);
  background-color: rgb(133, 91, 91);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.bg-bd2 {
  background-image: url(/img/syllet.jpg);
  background-color: rgba(228, 255, 249, 0.356);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.sw .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sw .swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto !important;
}

.sw .swiper-slide img {
  display: block;
  width: 100%;
}

.h-129 {
  height: 500px;
}

/* //about page BD board of derectory  */

.bdcard .name {
  transition: all 0.4s linear !important;
}
.bdcard .name .ms {
  display: none;
  transition: all 0.5s linear;
}

.bdcard .name:hover > .ms {
  display: flex;
}

.h-screen-100 {
  height: calc(100vh - 150px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  color: tomato;
  border-radius: 10px;
}

.visalist ol {
  list-style: decimal;
}
.visalist ul {
  list-style: circle !important;
}

/* animation  */

@keyframes floater {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(-3%);
  }
}

.nhFloat {
  transform: translateY(-10%);
  animation: floater 3s infinite ease-in-out;
}

.list-sq {
  list-style: circle;
}

.bg-travel {
  background-image: url("/graphic/Sun_Web_Pattern.svg");
  background-size: 700px 700px;
}

.h-500px {
  height: 500px;
}

.min-w-52 {
  min-width: 13rem;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}
ul {
  list-style: disc;
  list-style-position: inside;
}

.jodit-status-bar-link {
  display: none;
}

.nav ul,
ol {
  list-style: none;
}

.dynamic table {
  width: 100%;
  overflow: auto;
}

.herotitel {
  text-shadow: 0 0 0.1px #fff;
}

.h-350px {
  height: 350px;
}
.h-400px {
  height: 630px;
}
.h-250px {
  height: 250px;
}

.h-200px {
  height: 200px;
}
.img-400px {
  height: 500px;
}

.min-max-img {
  min-width: 200px;
}

@media (max-width: 600px) {
  .img-400px {
    height: 300px;
  }
  .min-max-img {
    min-width: 130px;
  }
}
